body{
    background-color: gray;
}

h1{
    margin-left: 15vw;
    color: green;
    letter-spacing: 2px;
    font-size: 3em;
}

#board, .boardInfo{
    max-width: 500px;
}

#board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#gameOver{
    display: none;
}

.boardInfo{
    display: flex;
    margin-top: 10px;
}

#scoreBoard{
    display: inline-flex;
    margin: auto 5px;
}

#start{
    background-color: green;
    margin-left: 29.8em;
}

.square{
    aspect-ratio: 1;
}

.emptySquare{
    background-color: azure;
}

.snakeSquare{
    background-color: blueviolet;
}

.foodSquare{
    background-color: darkblue;
}