:root{
    --colorNav: white;
}

*{
    margin: 0%;
    padding: 0%;
}

.nav {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.titulo {
    display: flex;
    align-items: center;
    align-self: center;
}

.titulo img {
    height: 7em;
}

.titulo h1 {
    color: var(--colorNav);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
}

.menu {
    display: inline-flex;
    align-self: center;
    margin-right: 10%;
}

.menu a {
    color: var(--colorNav);
    text-decoration: none;
    margin: 1%;
    padding: 5%;
}

.main{
    display: flex;
    height: 92vh;
    background-image: url(../imagenes/fondo_menu.jpg);
    background-repeat: round;
    z-index: -3;
}

.contenidoCentral{
    flex-direction: column;
    align-self: center;
    margin: auto;
    color: var(--colorNav);
    z-index: 3;
}

.contenidoCentral a{
    color: var(--colorNav);
    display: inline-block;
    text-decoration: none;
    background-color: gray;
    margin-top: 3%;
    padding: 2%;
    border-radius: 25%;
}

.mainJuegos{
    display: flex;
    margin: 5%;
}

.card {
    margin: 1%;
}

.mainNoticias{
    border: 1px black solid;
    margin: 5%;
}

.lineaDivisor{
    border-top: 5px black solid;
}

.tituloContacto h2{
    display: flex;
    justify-content: center;
    align-content: center;
}


.formulario form{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
